html {
  height: 100%;
  width: 100%;
  background-color: #333333;
  
  
}

  .menu > nav{
    border-radius: 10px;
    font-weight: bold;
    background-color: #333333;
    height: 120px;
    font-display: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b0b0b0;
  
  
}

.carreira{
  color: #00fbff;
}

.inicio:hover{

  color: white;
  cursor: pointer;
  
}

.carreira:hover{

  color: white;
  cursor: pointer;
}

.projetos:hover{

  color: white;
  cursor: pointer;
}

.sobre:hover{

  color: white;
  cursor: pointer;
}

.tecnologias{

  margin-left: 130px;
  width: -20%;
  height: -20%;

}